<footer class="my-auto bg-light text-secondary py-4">
  <div class="row footer-text">
    <p>
      Designed and developed by <a target="_blank" href="https://github.com/Kraizan">Kraizan</a>
    </p>
  </div>
  <div class="row link-list">
    <div class="link-div">
      <a href="#"><img class="link" src="images/gmail.png" alt=""></a>
    </div>
    <div class="link-div">
      <a href="#"><img class="link" src="images/instagram.png" alt=""></a>
    </div>
    <div class="link-div">
      <a href="#"><img class="link" src="images/linkedin.png" alt=""></a>
    </div>
  </div>
</footer>
</div>
</body>

</html>
