<%- include ("partials/header") %>

<main class="py-3 mx-auto">
  <h1>Who am I?</h1>
  <div class="profile-heading mx-auto">
    <img src="images/profile.jpeg" class="rounded-circle img-fluid" alt="">
  </div>
  <p class="lead">I love anime. My art reflects the same. Browse through my works and get a new wallpaper for yourself now.</p>
  <p class="lead">
    <a href="/designs" class="btn btn-outline-light btn-lg fw-bold border-white">Browse Designs</a>
  </p>
</main>

<h1>Testimonials!</h1>
<%- include ("testimonials") %>

<div class="outro mx-auto py-3">
  <h2>For suggestions and feedback</h2>
  <a href="mailto:vanshajbhatnagar10@gmail.com" class="btn btn-outline-primary text-white border-primary">Contact Us</a>
</div>

<%- include ("partials/footer") %>
