<%- include ("partials/header") %>

<div class="w-80 mx-auto my-auto">
  <img class="img-fluid" src="<%=images[index]%>" alt="Image Not Found!">
</div>
<div class="w-10 my-5">
  <a href="/save/<%=index%>" class="btn btn-success btn-lg fw-bold">View</a>
</div>


<%- include ("partials/footer") %>
