<section id="testimonial-carousel">
  <div id="testimonials" class="carousel slide w-75 mx-auto" data-bs-ride="carousel">
    <div class="carousel-inner text-dark bg-light px-5 py-5">
      <div class="carousel-item active">
        <div class="testimonial-image">
          <img class= "img-fluid" src="https://live.staticflickr.com/65535/52179568418_e933ddb636_h.jpg" alt="Eren Yeager">
        </div>
        <div class="testimonial-text my-3">
          <h2>Loved her artwork!</h2>
          <p>When I came to know about her interest in digital art, I asked her to design a wallpaper exclusively for me. What I got in return is now my wallpaper on every device lmao!</p>
          <cite>Vanshaj Bhatnagar</cite>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial-image">
          <img class= "img-fluid" src="https://live.staticflickr.com/65535/52179745533_c0ba0cc263_h.jpg" alt="Your Name">
        </div>
        <div class="testimonial-text my-3">
          <h2>Amazing artist!</h2>
          <p>I love her art and more than satisfied with the design I received.</p>
          <cite>Rujul</cite>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#testimonials" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#testimonials" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
